@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Kadwa', serif;
  min-height: 100vh;
}