.modal {
    position: absolute;
    overflow-y: initial;
}

.modal,
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: auto;
}

.overlay {
    background-color: rgba(49, 49, 49, 0.5);
}

.content {
    border: 2px solid black;
    width: 50%;
    margin: 5rem auto;
    background-color: #E1E9FF;
    height: 80%;
}

.profilePic {
    width: 10rem;
    height: 10rem;
    border: 2px solid black;
    margin-right: 2rem;
}

.personalData {
    display: flex;
    margin-left: 4rem;
}

.adress {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 2rem;
    margin-left: 4rem;
}

.editBtn {
    background-color: #002DB3;
    width: 5rem;
    height: 2.5rem;
    color: #fff;
    font-family: 'Kadwa', serif;
    border: none;
}

button {
    background-color: #FF9900;
    width: 5rem;
    height: 2.5rem;
    color: #fff;
    font-family: 'Kadwa', serif;
    border: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 4rem;
}

.sideBtn {
    display: flex;
    justify-content: space-between;
    column-gap: 1.5rem;
}

@media screen and (max-width: 600px) {
    .nome {
        margin-top: 2rem;
    }
    
    .content {
        margin: 4rem auto;
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .personalData {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
    }

    .profilePic {
        width: 18rem;
        height: 18rem;
        margin: 1rem 1rem;
    }

    .adress {
        display: flex;
        flex-direction: column;
        row-gap: 0.25rem;
        margin-left: 2rem;
    }

    .buttons {
        margin: 4rem 2rem 2rem 2rem;
        text-align: center;
    }

    .sideBtn {
        column-gap: 2.41rem;
    }
}