.modal {
    position: absolute;
}

.modal,
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.overlay {
    background-color: rgba(49, 49, 49, 0.5);
}

.content {
    border: 2px solid black;
    width: 50%;
    margin: 6rem auto;
}