.modal {
    position: absolute;
}

.modal,
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.overlay {
    background-color: rgba(49, 49, 49, 0.5);
}

.content {
    border: 2px solid black;
    width: 50%;
    margin: 5rem auto;
    background-color: #E1E9FF;
    height: 80%;
}

.profilePic {
    width: 10rem;
    height: 10rem;
    border: 2px solid black;
    margin-right: 2rem;
}

.personalData {
    display: flex;
    margin-left: 4rem;
}

.adress {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 2rem;
    margin-left: 4rem;
}